{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/content_login/content_login.css' %}"> <!-- Updated CSS link -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>

    <div class="background">
        <div class="center-container">
            <!-- Left section with yellow background -->
            <div class="left-section">
                <div class="welcome-container">
                    <div class="welcome">WELCOME</div>
                    <div class="to">TO</div>
                    <img src="{% static 'general/Wildcatlogo.svg' %}" alt="Wildcat Logo" class="wildcat-logo">
                </div>
            </div>

            <!-- Right section with white background -->
            <div class="right-section">
                <div class="sign-in-container">
                    <h2 class="sign-in-title">SIGN IN</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username" id="username" class="input-field" required><br>
                        <input type="password" name="password" placeholder="Password" id="password" class="input-field" required><br>
                        <button class="loginbutton" type="submit" value="Login">
                            <span class="shadow"></span>
                            <span class="edge"></span>
                            <span class="front text"> LOGIN </span>
                        </button>
                    </form>
                    {% if message %}
                    <div class="error-message">{{ message }}</div>
                    {% endif %}
                    <div class="topline"></div>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
