{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        const csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/logout.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Analytics</title>
    <link rel="stylesheet" href="{% static 'dash_analytics/dash_analytics.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <div class="header"></div>
    <div class="container">
        <a class="profile-button" style="text-decoration: none;" href="{% url 'user_logout' %}">Logout</a>
        <div class="bold1">DASHBOARD ANALYTICS</div>
        <a href="{% url 'event_posts' %}" style="text-decoration: none;" class="event_url">Event Posts</a>
        <a href="{% url 'list_content_managers' %}" style="text-decoration: none;" class="manage_url">User Management</a>
    </div>


    <div class="analytics-container">
        <div class="fb">
            <div class="fb-content">
                <div class="fb-item">
                    <p class="fb-title">Facebook Analytics</p>
                </div>
                <div class="fb-item">
                    <p class="fb-para">Total Likes/Reactions:</p>
                    <p class="fb-value" id="fb-likes">{{ data.total_reactions_count }}</p>
                </div>
                <div class="fb-item">
                    <p class="fb-para">Comments:</p>
                    <p class="fb-value" id="fb-comments">{{ data.total_comments }}</p>
                </div>
                <div class="fb-item">
                    <p class="fb-para">Shares:</p>
                    <p class="fb-value" id="fb-shares">{{ data.total_shares }}</p>
                </div>
                <div class="fb-item">
                    <p class="fb-para">Views:</p>
                    <p class="fb-value" id="fb-views">{{ data.total_page_views }}</p>
                </div>
            </div>
        </div>

        <div class="wb">
            <div class="wb-content">
                <div class="wb-item">
                    <p class="wb-title">Website Analytics</p>
                </div>
                <div class="wb-item">
                    <p class="wb-para">Visitors:</p>
                    <p class="wb-value" id="wb-visitors">{{ total_visitors }}</p>
                </div>
                <div class="wb-item">
                    <p class="wb-para">Clicks:</p>
                    <p class="wb-value" id="wb-clicks">{{ total_clicks }}</p>
                </div>
                <div class="wb-item">
                    <p class="wb-para">Comments:</p>
                    <p class="wb-value" id="wb-comments">{{ total_comments }}</p>
                </div>
                <div class="wb-item">
                    <p class="wb-para">Likes/Reactions:</p>
                    <p class="wb-value" id="wb-likes">{{ total_likes }}</p>
                </div>
            </div>
        </div>
    </div>





</body>

</html>


