{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="{% static 'js/eventlist.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <link rel="stylesheet" href="{% static 'event_list/event_list.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
 <!-- Honeycomb background -->

 
        <div class="header"></div>
        <div class="container">
            <img src="{% static 'general/WildcatLogo.svg' %}" alt="Wildcat Logo" class="logo">
        </div>
        
        <div class="honeycomb"> 
            <br><br><br><br><br><br><br>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
            {% for event in events %}
            <div class="event" data-event-id="{{ event.id }}">
                <div class="event-title">{{ event.title }}</div>
                <div class="event-date">{{ event.date }}</div>
                <div class="event-caption">{{ event.caption }}</div>
                {% if event.photo %}
                <div class="event-img">
                    {% if event.photo.url %}
                        <a href="{% url 'event_detail' event.id %} " >    <!--class="event-detail-link" data-event-id="{{ event.id }}-->
                            <img src="{{ event.photo.url }}" alt="Event Image">
                        </a>
                    {% else %}
                        <video controls>
                            <source src="{{ event.photo.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                </div>
                {% endif %}
            <div class="interact-buttons">
                <button class="event-like-btn" data-event-id="{{ event.id }}">&#x1F44D; Like</button>
                <button class="event-comment-btn" data-event-id="{{ event.id }}">&#x1F4AC; Comment</button>
            </div>
            </div>
            {% empty %}
            <p>No events available.</p>
            {% endfor %}
       

        <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="modal-body">
                        <!-- Detailed event content will be loaded here -->
                    </div>
                </div>
        </div>

        <div class="icon-bar"> <!-- Icons for additional features -->
            <img src="{% static 'event_list/locationIcon.svg' %}" alt="Location Icon">
            <img src="{% static 'event_list/emailIcon.svg' %}" alt="Email Icon">
            <img src="{% static 'event_list/contactIcon.svg' %}" alt="Contact Icon">
        </div>
        <div class="new-text">#FARFIRSTFASTFOCUSEDFEROCIUS
        </div>
    </div>


    
</body>

</html>
