{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="{% static 'js/eventlist.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <link rel="stylesheet" href="{% static 'event_list/event_list.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
 
    <div class="header"></div>
    <div class="container">
        <a href="{% url 'event_list'%}" style="text-decoration: none;">
            <div class="maintitle">S O C I A L S P H E R E</div>
        </a>
    </div>
        
            <br><br><br><br><br><br><br>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
            
            {% for event in events %}
            <div class="info-container">
                <img src="static/event_list/information-button.png" class="information-button" width="100" height="100">
                <p class="about-paragraph">
                    NOTE:<br>
                    This website showcases the posted events of Wildcats Innovations Lab, 
                    integrated seamlessly with Facebook. Through this site, 
                    users can see events directly, and those events are reflected 
                    on the associated Facebook page in real-time. This integration not only simplifies 
                    event management but also ensures that the Wildcats community remains connected and 
                    informed across multiple platforms. 
                </p>
            </div>

            <div class="fb-link">
                <a href="https://www.facebook.com/profile.php?id=61559580118485" target="_blank">
                    <img src="static/event_list/facebook.png" alt="Facebook Icon"> Wildcats Innovations Lab Page
                </a>
            </div>
            

            <div class="event" data-event-id="{{ event.id }}">
                <div class="event-title">{{ event.title }}</div>
                <div class="event-date">{{ event.date }}</div>
                <div class="event-caption" id="caption_{{ event.id }}">
                    <span class="caption-text" id="caption-text_{{ event.id }}">
                        {{ event.caption|linebreaksbr|safe }}
                    </span>
                    <button class="toggle-btn" id="toggle-btn_{{ event.id }}" onclick="toggleText('{{ event.id }}')">See More</button>
                </div>
                {% if event.photo %}
                    <div class="event-img">
                        <a href="{% url 'event_detail' event.id %} ">
                            <img src="{% url 'view_image' event.id %}" alt="Event Image">
                        </a>
                    </div>
                {% endif %}
                <div class="interact-buttons">
                    <!-- <button class="event-like-btn" data-event-id="{{ event.id }}">&#x1F44D; Like</button> -->
                    <button id="likeButton" class="event-like-btn {% if event.id in liked_events %}highlighted{% endif %}" data-event-id="{{ event.id }}">
                        <i class="fas fa-thumbs-up"></i> <span>{% if event.id in liked_events %}Liked{% else %}Like{% endif %}</span>
                    </button>
                    <a href="{% url 'event_detail' event.id %} " >    <!--class="event-detail-link" data-event-id="{{ event.id }}-->
                        <button  >&#x1F4AC; Comment</button>
                    </a>
                    <!-- <button class="event-comment-btn" data-event-id="{{ event.id }}">&#x1F4AC; Comment</button> -->
                </div>
                    <div class="counts-container">
                        <span class="like-count">{{ event.like_count }} Likes</span> ·
                        <span class="comment-count">{{ event.comment_count }} Comments</span>
                    </div>
                </div>
            </div>
               
                
            
            {% empty %}
            <div class="no-events-available">
                <p>No events available.</p>
            </div>
            {% endfor %}
       

        <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" style="display: none;">&times;</span>
                    <div id="modal-body">
                        <!-- Detailed event content will be loaded here -->
                    </div>
                </div>
        </div>

</body>

</html>
