{% extends "navbar/navbar.html" %}
{% load static %}
{% block title %}Add Content Manager{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user_management/add_content_manager.css' %}">
    <script src="{% static 'js/accountmax.js' %}"></script>
   


</head>
<body>
   

        <!-- <div class="title">ADD USER
        <p class="description">Creating and managing users efficiently.</p>
        </div>
         -->
        <br><br><br><br>
        <br><br><br>
        <div class="form-container">
        <form method="post">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ form.username.value }}">
        {% for error in form.username.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}


        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ form.first_name.value }}">
        {% for error in form.first_name.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ form.last_name.value }}">
        {% for error in form.last_name.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2">

        {% if message %}
        <div class="error">{{ message }}</div>
        {% endif %}


        <!-- role -->
        <label for="role">Role</label>
        <select id="role" name="role">
            <option value="none" {% if not form.is_superuser.value and not form.is_staff.value %}selected{% endif %}>None</option>
            <option value="admin" {% if form.is_superuser.value %}selected{% endif %}>Admin</option>
            <option value="content_manager" {% if form.is_staff.value %}selected{% endif %}>Content Manager</option>
        </select>
        



        <div>
        <label for="is_active">Is Active:</label>
        <input type="checkbox" id="is_active" name="is_active" {% if form.is_active.value %}checked{% endif %}>
        {% for error in form.is_active.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        </div>

        <!-- <label for="user_permissions">Permissions:</label>
        <div id="user_permissions">
            {% for permission in form.user_permissions.field.queryset %}
                <div>
                    <input type="checkbox" id="permission_{{ permission.id }}" name="user_permissions" value="{{ permission.id }}" {% if permission in form.user_permissions.value %}checked{% endif %}>
                    <label for="permission_{{ permission.id }}">{{ permission.name }}</label>
                </div>
            {% endfor %}
        </div>
        {% for error in form.user_permissions.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %} -->
    <br>
    <button type="submit">Save</button>
    </form>
    </div>
    <a href="{% url 'list_content_managers' %}" class="buttonback">&lt;- Back</a>

    {% if modal_error_message %}
    <!-- Hidden error message element that JS will read from -->
    <span id="django-error-message" style="display: none;">{{ modal_error_message }}</span>
    {% endif %}
</body>
</html>
{% endblock %}