{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'user_management/edit_content_manager.css' %}">
    <script src="{% static 'js/editcontentmanager.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
    </div>
    <form class="form1" method="post">
        {% csrf_token %}
        {% if message %}
        <div class="error">{{ message }}</div>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ form.username.value }}">
        {% for error in form.username.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}


        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ form.first_name.value }}">
        {% for error in form.first_name.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ form.last_name.value }}">
        {% for error in form.last_name.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="is_superuser">Is Superuser:</label>
        <input type="checkbox" id="is_superuser" name="is_superuser" {% if form.is_superuser.value %}checked{% endif %}>
        {% for error in form.is_superuser.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="is_staff">Is Staff:</label>
        <input type="checkbox" id="is_staff" name="is_staff" {% if form.is_staff.value %}checked{% endif %}>
        {% for error in form.is_staff.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="is_active">Is Active:</label>
        <input type="checkbox" id="is_active" name="is_active" {% if form.is_active.value %}checked{% endif %}>
        {% for error in form.is_active.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <label for="user_permissions">Permissions:</label>
        <select multiple id="user_permissions" name="user_permissions">
            {% for permission in form.user_permissions.field.queryset %}
                <option value="{{ permission.id }}" {% if permission in form.user_permissions.value %}selected{% endif %}>{{ permission.name }}</option>
            {% endfor %}
        </select>
        {% for error in form.user_permissions.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        
        <button type="submit">Save</button>
        <button type="button" id="delete-button">Delete</button>

    </form>


    <!-- Modal HTML -->
    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Confirm Deletion</h2>
           
            <div id="modal-error-message" class="error" style="display: none;"></div>
           
            <p>Are you sure you want to delete this user? Please enter your password to confirm.</p>
            <input type="password" id="confirm-password" placeholder="Enter your password">
            <form method="post" action="{% url 'edit_content_manager' content_manager.pk %}">
                {% csrf_token %}
                <input type="hidden" name="delete" value="true">
                <input type="hidden" id="password-input" name="confirm_password">
                <button type="button" id="confirm-delete">Yes</button>
                <button type="button" id="cancel-delete">No</button>
            </form>

            <!-- {% if modal_error_message %}
            <div id="modal-error-message" class="error"  >{{ modal_error_message }}</div>
             {% endif %} -->
            
        </div>
        
       
    </div>

    <!-- {% if modal_error_message %}
    <div id="modal-error-message" class="error" style="display: none;" >{{ modal_error_message }}</div>
    {% endif %} -->

  
    <a href="{% url 'list_content_managers' %}"  class="button" >Back to list</a>

    
    
   
</body>
</html>
