@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 
body {
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('bgwhite.svg') no-repeat center center;
  background-size: cover;
  opacity: 0.5; /* Adjust transparency level here */
  z-index: -1; /* Ensures the background stays behind content */
  pointer-events: none; /* Prevents interaction with the background */
}

 
form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
 
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
 
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
input[type="checkbox"] {
  margin-right: 10px;
}
 
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
button[type="submit"]:hover {
  background-color: #0056b3;
}
 
a {
  margin-top: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  text-align: center;
}
 
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
thead {
  background-color: #333;
  color: #fff;
}
 
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
 
th {
  text-align: center;
}
 
td {
  text-align: center;
}
 
th:first-child, td:first-child {
  text-align: center;
}
 
input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}
 
button[name="delete"] {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
button[name="delete"]:hover {
  background-color: #cc0000;
}
 
.superuser-row {
 background-color: #FFEB33;
}
 
 
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
 
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
 
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 
button#confirm-delete {
  background-color: #ffcc00;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#confirm-delete:hover {
  background-color: #ffbb00;
}
 
button#cancel-delete {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
button#cancel-delete:hover {
  background-color: #bbb;
}
 
.error {
  color: #ff0000;
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

form#delete-form {
  position: relative;
  max-width: 100%;
  width: 89%;
  margin: 90px auto;
  padding: 30px;
  top: 405px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 99 !important;
  max-height: 80vh;
  overflow-y: hidden;
  box-shadow: inset 0 0 0 2px #000; /* Black stroke on the inside */
}
 
form#delete-form table {
  width: 100%;
  display: block;
  overflow-y: auto;
  height: 380px;
  margin-top: 20px;
  border-collapse: collapse;
}
 
form#delete-form table tbody {
  display: block;
  max-height: 300px;
}
 
form#delete-form table thead,
form#delete-form table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
 
form#delete-form table thead {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
 
button#delete-button {
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 1rem 2.5rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s ease;
  margin-top: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
button#delete-button:hover {
  background-color: #555;
  transform: scale(1.1);
}
 
 


.add {
  position: absolute;
  right: 80px;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #ffffff; /* Text color */
  border-radius: 50px;
  border: none; /* Removed border */
  font-family: 'Poppins', sans-serif;
  font-weight: bold; /* Set font weight to bold */
  font-size: 16px; /* Keep font size consistent with original */
  letter-spacing: 2px;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.add:hover {
  background-color: #555;
  transform: scale(1.1);
}



.loading-icon {
  font-size: 20px;
  color: gold;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid gold;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.modal .loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px; /* Adjust the height as needed */
  background-color: orange; /* Orange color for the progress bar */
  z-index: 10000; /* Make sure it's on top of everything */
  transition: width 0.2s ease; /* Smooth progress */
}
